.fancy {
    background-image: linear-gradient(40deg, #6e7fff, #a175ff);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    transition-duration: .35s;
	border-radius: 1000px;
}

span {
    padding-right: 2.5rem;
    width: 50rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}